<div class="container" style="margin-top: 15px;">
  <div class="row">

    <div class="col-md-4 my-4" *ngFor="let application of applicationList; let i = index">
      <!--Card-->
      <div class="card card-cascade narrower">

        <!--Card image-->
        <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" class="img-fluid" alt="">
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">{{application.name}}</h4>
          <!--Text-->
          <p class="card-text text-justify"><strong>Address:</strong> {{application.connectionAddress}}</p>
          <a class="btn btn-md btn-unique waves-light" mdbRippleRadius (click)="onSelectApplication(i)">Select Application</a>
        </div>
        <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>

  </div>

</div>
