<div class="container" style="margin-top: 15px;overflow-scrolling: unset;">

  <div class="jumbotron">
    <form [formGroup]="newApplicationForm" (ngSubmit)="onNewApplicationForm();">
      <div class="row">

        <iframe [src]="safeMapUrl" style="width: 100%;min-height: 40vh;overflow: unset" scrolling="no" allowfullscreen>
        </iframe>
        <!--Iframe-->
      </div>

      <br>
      <div class="row container-fluid">
        <h4 class="text-left brown-text mb-4">New Application</h4>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm-6">

          <div class="md-form">
            <input type="text" id="applicantName" formControlName="applicantName" class="form-control" mdbActive>
            <label for="applicantName">Applicant's Name</label>
          </div>

          <div class="md-form">
            <input type="text" id="fatherName_husbandName" formControlName="fatherName_husbandName" class="form-control"
                   mdbActive>
            <label for="fatherName_husbandName">Father's Name/ Husband's Name</label>
          </div>

          <div class="md-form">
            <input type="text" id="aadharNumber" formControlName="aadharNumber" class="form-control" mdbActive>
            <label for="aadharNumber">Aadhar Number</label>
          </div>

          <div class="md-form">
            <input type="text" id="mobileNumber" formControlName="mobileNumber" class="form-control" mdbActive>
            <label for="mobileNumber">Mobile Number</label>
          </div>

          <div class="md-form">
            <input type="text" id="email" formControlName="email" class="form-control" mdbActive>
            <label for="email">E-mail</label>
          </div>

          <br>

          <div class="row">
            <!--Permanent Address Dropdown-->
            <div class="col-sm-6">
              <p>Permanent Adderess</p>
            </div>
            <div class="col-sm-6">
              <div class="btn-group btn-block" dropdown>
                <button dropdownToggle type="button"
                        class="btn btn-block btn-primary btn-md dropdown-toggle waves-light" mdbRippleRadius>
                  {{permanentAddressDropdown}}
                </button>
                <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item"
                     (click)="onPermanentAddress(permanentAddressValue)">{{permanentAddressValue}}</a>
                </div>
              </div>
            </div>
            <!--/Permanent Address Dropdown-->
          </div>

        </div>

        <div class="col-sm-6">

          <div class="md-form">
            <textarea mdbActive type="text" id="connectionAddress" [(ngModel)]="mapAdd" formControlName="connectionAddress" class="md-textarea"></textarea>
            <label for="connectionAddress">Connection Address</label>
          </div>

          <div class="row">
            <div class="col-sm-8">
              <p>Press OK to Confirm Connection Address.</p>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-md btn-primary waves-light" (click)="onMap();" mdbRippleRadius>OK</button>
            </div>
          </div>

          <br>
          <div class="md-form">
            <div class="row">
              <div class="col-sm-6">
                <p>Connection Address Land Document</p>
              </div>

              <div class="col-sm-6">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="connectionAddressLandDocument" formControlName="connectionAddressLandDocument" (change)=" fileName = file.files[0].name " #file>
                  <label class="btn btn-md btn-primary" for="connectionAddressLandDocument">{{ fileName }}</label>
                </div>
              </div>
            </div>


          </div>

          <div class="md-form">
            <input type="text" id="loadDemand" formControlName="loadDemand" class="form-control" mdbActive>
            <label for="loadDemand">Load Demand</label>
          </div>

          <br>

          <div class="row">
            <!--Connection Category Dropdown-->
            <div class="col-sm-6">
              <p>Connection Category</p>
            </div>
            <div class="col-sm-5">
              <div class="btn-group btn-block" dropdown>
                <button dropdownToggle type="button"
                        class="btn btn-block btn-primary btn-md dropdown-toggle waves-light" mdbRippleRadius>
                  {{connectionCategoryDropdown}}
                </button>

                <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" (click)="onConnectionCategory('Domestic Supply (DS)')">Domestic Supply
                    (DS)</a>
                  <a class="dropdown-item" (click)="onConnectionCategory('Non Domestic Supply (NDS)')">Non Domestic
                    Supply (NDS)</a>
                  <a class="dropdown-item" (click)="onConnectionCategory('Industrial')">Industrial</a>
                </div>
              </div>
            </div>
            <!--/Connection Category Dropdown-->
          </div>

          <br>

          <div class="row">
            <!--Connection Type Dropdown-->
            <div class="col-sm-6">
              <p>Connection Type</p>
            </div>
            <div class="col-sm-5">
              <div class="btn-group btn-block" dropdown>
                <button dropdownToggle type="button"
                        class="btn btn-block btn-primary btn-md dropdown-toggle waves-light" mdbRippleRadius>
                  {{connectionTypeDropdown}}
                </button>
                <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" (click)="onConnectionType('Permanent')">Permanent</a>
                  <a class="dropdown-item" (click)="onConnectionType('Temporary')">Temporary</a>
                </div>
              </div>
            </div>
            <!--/Connection Type Dropdown-->

          </div>

          <br>

          <div class="row">
            <!--Voltage Supply Dropdown-->
            <div class="col-sm-6">
              <p>Voltage Supply</p>
            </div>
            <div class="col-sm-5">
              <div class="btn-group btn-block" dropdown>
                <button dropdownToggle type="button"
                        class="btn btn-block btn-primary btn-md dropdown-toggle waves-light" mdbRippleRadius>
                  {{voltageSupplyDropdown}}
                </button>
                <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" (click)="onVoltageSupply('1 Phase')">1 Phase</a>
                  <a class="dropdown-item" (click)="onVoltageSupply('3 Phase')">3 Phase</a>
                  <a class="dropdown-item" (click)="onVoltageSupply('11 KV')">11 KV</a>
                </div>
              </div>
            </div>
            <!--/Voltage Supply Dropdown-->
          </div>
        </div>

      </div>

      <br>
      <hr>
      <br>
      <div class="row">
        <div class="col-sm-5 offset-sm-3">
          <button type="submit" class="btn btn-md btn-block btn-success waves-light" data-toggle="modal" data-target="#basicExample" (click)="demoBasic.show(); onShowFile();" mdbRippleRadius>Success</button>
        </div>
      </div>

    </form>
  </div>
</div>


<!--Preview Modal-->

<div mdbModal #demoBasic="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Application Preview</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <!--Row-->
                <div class="row">
                  <div class="col-sm-4 offset-sm-1">
                    <strong>Applicant's Name:</strong>
                  </div>
                  <div class="col-sm-6">
                    {{newApplicationPreview?.applicantName}}
                  </div>
                </div>
                <!--/Row-->

                <br>

                <!--Row-->
                <div class="row">
                  <div class="col-sm-4 offset-sm-1">
                    <strong>Father's Name/ Husband's Name:</strong>
                  </div>
                  <div class="col-sm-6">
                    {{newApplicationPreview?.fatherName_husbandName}}
                  </div>
                </div>
                <!--/Row-->

                <br>

                <!--Row-->
                <div class="row">
                  <div class="col-sm-4 offset-sm-1">
                    <strong>Aadhar Number:</strong>
                  </div>
                  <div class="col-sm-6">
                    {{newApplicationPreview?.aadharNumber}}
                  </div>
                </div>
                <!--/Row-->

                <br>

                <!--Row-->
                <div class="row">
                  <div class="col-sm-4 offset-sm-1">
                    <strong>Mobile Number:</strong>
                  </div>
                  <div class="col-sm-6">
                    {{newApplicationPreview?.mobileNumber}}
                  </div>
                </div>
                <!--/Row-->

                <br>

                <!--Row-->
                <div class="row">
                  <div class="col-sm-4 offset-sm-1">
                    <strong>E-mail:</strong>
                  </div>
                  <div class="col-sm-6">
                    {{newApplicationPreview?.email}}
                  </div>
                </div>
                <!--/Row-->

                <br>

                <!--Row-->
                <div class="row">
                  <div class="col-sm-4 offset-sm-1">
                    <strong>Permanent Address:</strong>
                  </div>
                  <div class="col-sm-6">
                    {{newApplicationPreview?.permanentAddress}}
                  </div>
                </div>
                <!--/Row-->
              </div>

              <div class="col-sm-6">
                <!--Row-->
                <div class="row">
                  <div class="col-sm-4 offset-sm-1">
                    <strong>Connection Address:</strong>
                  </div>
                  <div class="col-sm-6">
                    {{newApplicationPreview?.connectionAddress}}
                  </div>
                </div>
                <!--/Row-->

                <br>

                <!--Row-->
                <div class="row">
                  <div class="col-sm-4 offset-sm-1">
                    <strong>Connection Address Land Document:</strong>
                  </div>
                  <div class="col-sm-6">
                    {{newApplicationPreview?.connectionAddressLandDocument}}
                  </div>
                </div>
                <!--/Row-->

                <br>

                <!--Row-->
                <div class="row">
                  <div class="col-sm-4 offset-sm-1">
                    <strong>Load Demand:</strong>
                  </div>
                  <div class="col-sm-6">
                    {{newApplicationPreview?.loadDemand}} KW
                  </div>
                </div>
                <!--/Row-->

                <br>

                <!--Row-->
                <div class="row">
                  <div class="col-sm-4 offset-sm-1">
                    <strong>Connection Category:</strong>
                  </div>
                  <div class="col-sm-6">
                    {{newApplicationPreview?.connectionCategory}}
                  </div>
                </div>
                <!--/Row-->

                <br>

                <!--Row-->
                <div class="row">
                  <div class="col-sm-4 offset-sm-1">
                    <strong>Connection Type:</strong>
                  </div>
                  <div class="col-sm-6">
                    {{newApplicationPreview?.connectionType}}
                  </div>
                </div>
                <!--/Row-->

                <br>

                <!--Row-->
                <div class="row">
                  <div class="col-sm-4 offset-sm-1">
                    <strong>Voltage Supply:</strong>
                  </div>
                  <div class="col-sm-6">
                    {{newApplicationPreview?.voltageSupply}}
                  </div>
                </div>
                <!--/Row-->
              </div>
            </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-md waves-light" data-dismiss="modal" (click)="demoBasic.hide()" mdbRippleRadius>Close</button>
        <button type="button" class="btn btn-success btn-md waves-light" (click)="onFinalSubmit();demoBasic.hide();" mdbRippleRadius>Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--/Preview Modal-->
