<div class="container" style="margin-top: 15px;">
  <div class="row">
    <div class="col-sm-3 offset-sm-3">
      <h4 class="brown-text">What to update?</h4>
    </div>

    <!--Update Option Dropdown-->
    <div class="col-sm-3">
      <div class="btn-group btn-block" dropdown>
        <button dropdownToggle type="button" class="btn btn-block btn-primary btn-md dropdown-toggle waves-light" mdbRippleRadius>
          {{updateOptionDropdown}}
        </button>
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" (click)="onChangeName('Change of Name')" >Change of Name</a>
          <a class="dropdown-item" (click)="onChangeLoad('Change in Load')">Change in Load</a>
          <a class="dropdown-item" (click)="onCloseConnection('Close Connection')">Close Connection</a>
        </div>
      </div>
    </div>
    <!--/Update Option Dropdown-->
  </div>
</div>
<router-outlet></router-outlet>
