
<!--Footer-->
<footer class="page-footer mdb-color darken-2 center-on-small-only">

  <!--Footer Links-->
  <div class="container">
    <div class="row">

      <!--First column-->
      <div class="col-md-4">
        <h5 class="title">Energion</h5>
        <hr style="background-color: white;">
        <p style="font-size: 16px;">aapi sewa mei hamesha hazir... <i class="fa fa-handshake-o" aria-hidden="true"></i></p>
      </div>
      <!--/.First column-->

      <hr class="hidden-md-up">

      <!--Second column-->
      <div class="col-md-4">
        <h5 class="title">Contact Us</h5>
        <hr style="background-color: white;">
        <ul>
          <li>contactus@energion.com</li>
          <li>Mobile: 0180 1800 1800</li>
        </ul>
      </div>
      <!--/.Second column-->

      <hr class="hidden-md-up">

      <!--Third column-->
      <div class="col-md-4">
        <h5 class="title">Customer Care</h5>
        <hr style="background-color: white;">
        <p>We are always here for your help.</p>
      </div>
      <!--/.Third column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <hr>

  <!--Social buttons-->
  <div class="text-center mb-3">

    <a class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"> </i></a>
    <a class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"> </i></a>
    <a class="btn-floating btn-small btn-gplus waves-light" mdbRippleRadius><i class="fa fa-google-plus"> </i></a>
    <a class="btn-floating btn-small btn-li waves-light" mdbRippleRadius><i class="fa fa-linkedin"> </i></a>
    <a class="btn-floating btn-small btn-git waves-light" mdbRippleRadius><i class="fa fa-github"> </i></a>
    <a class="btn-floating btn-small btn-pin waves-light" mdbRippleRadius><i class="fa fa-pinterest"> </i></a>
    <a class="btn-floating btn-small btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"> </i></a>

  </div>
  <!--/.Social buttons-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright: <a> ENERGION </a>

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
