<div class="container" style="margin-top: 40px;">
  <div class="row">

    <div class="col-sm-4 col-md-4 my-4">
      <!--Panel-->
      <div class="card" style="height: 100%;">
        <h3 class="h3-responsive card-header indigo white-text">New Applications</h3>
        <div class="card-body">
          <h4 class="card-title">Join our family!!!</h4>
          <p class="card-text">Just fill a form and let us serve you. <br><em><strong>ATITHI DEVO BHAVA!</strong></em></p>
          <a class="btn indigo waves-light" mdbRippleRadius (click)="onNewApplications();"><i class="fa fa-eye" style="margin-right: 8px;"></i>View</a>
        </div>
      </div>
      <!--/.Panel-->
    </div>

    <div class="col-sm-4 col-md-4 my-4">
      <!--Panel-->
      <div class="card" style="height: 100%;">
        <h3 class="h3-responsive card-header amber darken-1 white-text">Application in Progress</h3>
        <div class="card-body">
          <h4 class="card-title">Edit your contract...</h4>
          <p class="card-text">you want more... <br>we got it!</p>
          <a class="btn amber darken-1 waves-light" mdbRippleRadius (click)="onProgressApplications();"><i class="fa fa-eye" style="margin-right: 8px;"></i>View</a>
        </div>
      </div>
      <!--/.Panel-->
    </div>

    <div class="col-sm-4 col-md-4 my-4">
      <!--Panel-->
      <div class="card" style="height: 100%;">
        <h3 class="h3-responsive card-header red darken-3 white-text">Priority Applications</h3>
        <div class="card-body">
          <h4 class="card-title">Mangage applications!</h4>
          <p class="card-text">Account for everything, <br>we will help you.</p>
          <a class="btn red darken-3 waves-light" mdbRippleRadius (click)="onPriorityApplications();"><i class="fa fa-eye" style="margin-right: 8px;"></i>View</a>
        </div>
      </div>
      <!--/.Panel-->
    </div>

    <div class="col-sm-4 col-md-4 my-4">
      <!--Panel-->
      <div class="card" style="height: 100%;">
        <h3 class="h3-responsive card-header teal darken-1 white-text">Completed Applications</h3>
        <div class="card-body">
          <h4 class="card-title">Join our family!!!</h4>
          <p class="card-text">Just fill a form and let us serve you. <br><em><strong>ATITHI DEVO BHAVA!</strong></em></p>
          <a class="btn teal darken-1 waves-light" mdbRippleRadius (click)="onCompletedApplications();"><i class="fa fa-eye" style="margin-right: 8px;"></i>View</a>
        </div>
      </div>
      <!--/.Panel-->
    </div>

    <div class="col-sm-4 col-md-4 my-4">
      <!--Panel-->
      <div class="card" style="height: 100%;">
        <h3 class="h3-responsive card-header light-blue white-text">Base Map</h3>
        <div class="card-body">
          <h4 class="card-title">Edit your contract...</h4>
          <p class="card-text">you want more... <br>we got it!</p>
          <a class="btn light-blue waves-light" mdbRippleRadius (click)="onBaseMap();"><i class="fa fa-map-marker" style="margin-right: 8px;"></i>View</a>
        </div>
      </div>
      <!--/.Panel-->
    </div>

    <div class="col-sm-4 col-md-4 my-4">
      <!--Panel-->
      <div class="card" style="height: 100%;">
        <h3 class="h3-responsive card-header mdb-color lighten-1 white-text">Rules & Regulations</h3>
        <div class="card-body">
          <h4 class="card-title">Mangage applications!</h4>
          <p class="card-text">Account for everything, <br>we will help you.</p>
          <a class="btn mdb-color lighten-1 waves-light" mdbRippleRadius (click)="onRulesRegulations();"><i class="fa fa-file-text" style="margin-right: 8px;"></i>View</a>
        </div>
      </div>
      <!--/.Panel-->
    </div>

  </div>
</div>
