<div class="container" style="margin-top: 30px;">
  <h3 class="brown-text">
    Notifications
  </h3>

  <hr>
  <br>

  <blockquote class="blockquote bq-primary hoverable" style="cursor: pointer;">
    <p class="bq-title">Info notification</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quibusdam dignissimos itaque harum illo! Quidem, corporis at quae tempore nisi impedit cupiditate perferendis nesciunt, ex dolores doloremque! Sit, rem, in?</p>
  </blockquote>

  <blockquote class="blockquote bq-primary hoverable" style="cursor: pointer;">
    <p class="bq-title">Info notification</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quibusdam dignissimos itaque harum illo! Quidem, corporis at quae tempore nisi impedit cupiditate perferendis nesciunt, ex dolores doloremque! Sit, rem, in?</p>
  </blockquote>

  <blockquote class="blockquote bq-primary hoverable" style="cursor: pointer;">
    <p class="bq-title">Info notification</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quibusdam dignissimos itaque harum illo! Quidem, corporis at quae tempore nisi impedit cupiditate perferendis nesciunt, ex dolores doloremque! Sit, rem, in?</p>
  </blockquote>

  <blockquote class="blockquote bq-primary hoverable" style="cursor: pointer;">
    <p class="bq-title">Info notification</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quibusdam dignissimos itaque harum illo! Quidem, corporis at quae tempore nisi impedit cupiditate perferendis nesciunt, ex dolores doloremque! Sit, rem, in?</p>
  </blockquote>

</div>
