
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-md navbar-dark orange darken-3">

  <!-- Navbar brand -->
  <logo><a class="navbar-brand" [routerLink]="'/'">Energy</a></logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/consumer/home'" mdbRippleRadius>Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/login'" mdbRippleRadius>Log In</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/consumer/new-application'" mdbRippleRadius>New Application</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/consumer/update-application'" mdbRippleRadius>Update Application</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/consumer/your-applications'" mdbRippleRadius>Your Application</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
