
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-md navbar-dark mdb-color darken-2">

  <!-- Navbar brand -->
  <logo><a class="navbar-brand" [routerLink]="'/'">Energy</a></logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/consumer/home'" mdbRippleRadius>Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/consumer/new-application'" mdbRippleRadius>New Application</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/consumer/update-application'" mdbRippleRadius>Update Application</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/consumer/your-applications'" mdbRippleRadius>Your Application</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/consumer-notifications'" mdbRippleRadius><i class="fa fa-bell" aria-hidden="true"></i> <sup><span class="badge blue" style="font-size: 10px; margin-left: -11px;">2</span></sup></a>
      </li><li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/login'" mdbRippleRadius>Log In</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
