<div class="container" style="margin-top: 15px;">
  <div class="row" style="width: 100%;">
    <div class="col-sm-3">
      <h3 class="brown-text ">Tracking</h3>
    </div>
    <div class="col-sm-3 offset-sm-6">
      <a type="button" [routerLink]="'/consumer/your-applications'" class="btn btn-outline-warning btn-md float-right" mdbRippleRadius><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
    </div>


  </div>
  <hr>
  <h4 class="h4-responsive">Application: LXLSD7488R8JKAS</h4>
  <br>
  <p>Name: Anshul Sharma</p>
  <p>Address: L-482, Ram Lal Chowk, Model Town, Panipat, Haryana</p>
  <hr>
  <br>

  <!--Progress Bar-->
  <div class="progress" style="height: 15px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated green darken-2" role="progressbar" style="width: 75%; height: 100%"  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <!--/Progress Bar-->
  <br>

  <!--Tracking Info-->
  <div>
    <h4 class="h4-responsive"><strong>Status: (75% Completed)</strong></h4>
    <ol>
      <li class="brown-text">Application submitted by you. <i class="fa fa-check teal-text" aria-hidden="true"></i></li>
      <li class="brown-text">In process by Verification & Finance Department. <i class="fa fa-check teal-text" aria-hidden="true"></i></li>
      <li class="brown-text">Passed by Verification & Finance Department. <i class="fa fa-check teal-text" aria-hidden="true"></i></li>
      <li class="brown-text">Application submitted to Technical Department. <i class="fa fa-check teal-text" aria-hidden="true"></i></li>
      <li class="brown-text">Clearence Certificate passed. <i class="fa fa-check teal-text" aria-hidden="true"></i></li>
      <li class="brown-text">Meter alloted. <i class="fa fa-check teal-text" aria-hidden="true"></i></li>
      <li class="brown-text">Employee in progress. <i class="fa fa-exclamation text-primary" aria-hidden="true"></i></li>
      <li class="brown-text">Completed. <i class="fa fa-exclamation text-primary" aria-hidden="true"></i></li>
    </ol>
  </div>
  <!--/Tracking Info-->

</div>
