<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="jumbotron">
        <h4 class="h4-responsive brown-text">Application for Closing Connection</h4>

        <hr>
        <br>

        <!--Row-->
        <div class="row">
          <div class="col-sm-5 offset-sm-1">
            <strong>Application Number:</strong>
          </div>
          <div class="col-sm-6">
            {{closeConnectionData.applicationNumber}}
          </div>
        </div>
        <!--/Row-->

        <br>

        <!--Row-->
        <div class="row">
          <div class="col-sm-5 offset-sm-1">
            <strong>Applicant's Name:</strong>
          </div>
          <div class="col-sm-6">
            {{closeConnectionData.applicantName}}
          </div>
        </div>
        <!--/Row-->

        <br>

        <!--Row-->
        <div class="row">
          <div class="col-sm-5 offset-sm-1">
            <strong>Father's Name/ Husband's Name:</strong>
          </div>
          <div class="col-sm-6">
            {{closeConnectionData.fatherName_husbandName}}
          </div>
        </div>
        <!--/Row-->

        <br>

        <!--Row-->
        <div class="row">
          <div class="col-sm-5 offset-sm-1">
            <strong>Aadhar Number:</strong>
          </div>
          <div class="col-sm-6">
            {{closeConnectionData.aadharNumber}}
          </div>
        </div>
        <!--/Row-->

        <br>

        <!--Row-->
        <div class="row">
          <div class="col-sm-5 offset-sm-1">
            <strong>Mobile Number:</strong>
          </div>
          <div class="col-sm-6">
            {{closeConnectionData.mobileNumber}}
          </div>
        </div>
        <!--/Row-->

        <br>

        <!--Row-->
        <div class="row">
          <div class="col-sm-5 offset-sm-1">
            <strong>E-mail:</strong>
          </div>
          <div class="col-sm-6">
            {{closeConnectionData.email}}
          </div>
        </div>
        <!--/Row-->

        <br>

        <!--Row-->
        <div class="row">
          <div class="col-sm-5 offset-sm-1">
            <strong>Meter Number:</strong>
          </div>
          <div class="col-sm-6">
            {{closeConnectionData.meterNumber}}
          </div>
        </div>
        <!--/Row-->

        <br>

        <!--Row-->
        <div class="row">
          <div class="col-sm-5 offset-sm-1">
            <strong>Permanent Address:</strong>
          </div>
          <div class="col-sm-6">
            {{closeConnectionData.permanentAddress}}
          </div>
        </div>
        <!--/Row-->

        <br>

        <!--Row-->
        <div class="row">
          <div class="col-sm-5 offset-sm-1">
            <strong>Connection Address:</strong>
          </div>
          <div class="col-sm-6">
            {{closeConnectionData.connectionAddress}}
          </div>
        </div>
        <!--/Row-->

        <br>

        <!--Row-->
        <div class="row">
          <div class="col-sm-5 offset-sm-1">
            <strong>Load Demand:</strong>
          </div>
          <div class="col-sm-6">
            {{closeConnectionData.loadDemand}} KW
          </div>
        </div>
        <!--/Row-->

        <br>

        <!--Row-->
        <div class="row">
          <div class="col-sm-5 offset-sm-1">
            <strong>Connection Category:</strong>
          </div>
          <div class="col-sm-6">
            {{closeConnectionData.connectionCategory}}
          </div>
        </div>
        <!--/Row-->

        <br>

        <!--Row-->
        <div class="row">
          <div class="col-sm-5 offset-sm-1">
            <strong>Connection Type:</strong>
          </div>
          <div class="col-sm-6">
            {{closeConnectionData.connectionType}}
          </div>
        </div>
        <!--/Row-->

        <br>

        <!--Row-->
        <div class="row">
          <div class="col-sm-5 offset-sm-1">
            <strong>Voltage Supply:</strong>
          </div>
          <div class="col-sm-6">
            {{closeConnectionData.voltageSupply}}
          </div>
        </div>
        <!--/Row-->
        <br>
        <hr>
        <div class="row">
          <div class="col-sm-4 offset-sm-1 my-3">
            <button class="btn btn-md btn-block btn-success btn-lg waves-light" type="submit" role="button" mdbRippleRadius>Submit</button>
          </div>
          <div class="col-sm-4 offset-sm-1 my-3">
            <button class="btn btn-md btn-block btn-danger btn-lg waves-light" type="button" role="button" mdbRippleRadius>Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
