<div class="container" style="margin-top: 15px;">
  <div class="jumbotron">
    <h4 class="brown-text">Application Preview</h4>

    <br>

    <!--Row-->
    <div class="row">
      <div class="col-sm-4 offset-sm-2">
        <strong class="">Applicant's Name:</strong>
      </div>
      <div class="col-sm-6">
        Anshul Sharma
      </div>
    </div>
    <!--/Row-->

    <br>

    <!--Row-->
    <div class="row">
      <div class="col-sm-4 offset-sm-2">
        <strong class="">Father's Name/ Husband's Name:</strong>
      </div>
      <div class="col-sm-6">
        Satish Kumar
      </div>
    </div>
    <!--/Row-->

    <br>

    <!--Row-->
    <div class="row">
      <div class="col-sm-4 offset-sm-2">
        <strong class="">Mobile Number:</strong>
      </div>
      <div class="col-sm-6">
        9996999200
      </div>
    </div>
    <!--/Row-->

    <br>

    <!--Row-->
    <div class="row">
      <div class="col-sm-4 offset-sm-2">
        <strong class="">E-mail:</strong>
      </div>
      <div class="col-sm-6">
        anshulsharma0888@gmail.com
      </div>
    </div>
    <!--/Row-->

    <br>

    <!--Row-->
    <div class="row">
      <div class="col-sm-4 offset-sm-2">
        <strong class="">Permanent Address:</strong>
      </div>
      <div class="col-sm-6">
        L-482, Ram Lal Chowk, Model Town, Panipat, Haryana
      </div>
    </div>
    <!--/Row-->

    <br>

    <!--Row-->
    <div class="row">
      <div class="col-sm-4 offset-sm-2">
        <strong class="">Connection Address:</strong>
      </div>
      <div class="col-sm-6">
        L-482, Ram Lal Chowk, Model Town, Panipat, Haryana
      </div>
    </div>
    <!--/Row-->

    <br>

    <!--Row-->
    <div class="row">
      <div class="col-sm-4 offset-sm-2">
        <strong class="">Connection Address Land Registration Number:</strong>
      </div>
      <div class="col-sm-6">
        ASD33434A34RLW
      </div>
    </div>
    <!--/Row-->

    <br>

    <!--Row-->
    <div class="row">
      <div class="col-sm-4 offset-sm-2">
        <strong class="">Load Demand:</strong>
      </div>
      <div class="col-sm-6">
        4 KW
      </div>
    </div>
    <!--/Row-->

    <br>

    <!--Row-->
    <div class="row">
      <div class="col-sm-4 offset-sm-2">
        <strong class="">Connection Category:</strong>
      </div>
      <div class="col-sm-6">
        Domestic Supply (DS)
      </div>
    </div>
    <!--/Row-->

    <br>

    <!--Row-->
    <div class="row">
      <div class="col-sm-4 offset-sm-2">
        <strong class="">Connection Type:</strong>
      </div>
      <div class="col-sm-6">
        Permanent
      </div>
    </div>
    <!--/Row-->

    <br>

    <!--Row-->
    <div class="row">
      <div class="col-sm-4 offset-sm-2">
        <strong class="">Voltage Supply:</strong>
      </div>
      <div class="col-sm-6">
        3 Phase
      </div>
    </div>
    <!--/Row-->

    <br>

    <a class="btn btn-primary btn-lg waves-light" role="button" mdbRippleRadius>Learn more</a>
  </div>
</div>
