<div class="container logIn-body" style="margin-top: 15px;">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div class="jumbotron" style="border-radius: 8px;">
          <!-- Login form -->
          <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onLogin();">
            <h3 class=" text-center brown-text mb-4">Sign In</h3>

            <div class="md-form row">
              <!--<i class="fa fa-envelope prefix grey-text"></i>-->
              <input type="text" id="defaultForm-email" formControlName="logInEmail" class="form-control" mdbActive>
              <label for="defaultForm-email">Your email</label>
            </div>

            <div class="md-form row">
              <!--<i class="fa fa-lock prefix grey-text"></i>-->
              <input type="password" id="defaultForm-pass" formControlName="logInPassword" class="form-control" mdbActive>
              <label for="defaultForm-pass">Your password</label>
            </div>

            <br>

            <div class="row container-fluid">
              <a class="text-primary pull-left">Forgot Password?</a>
            </div>

            <br>
            <br>

            <div class="row">
              <div class="col-sm-4">
                <a class="text-primary">Create new account.</a>
              </div>
              <div class="col-sm-4 offset-sm-4">
                <button class="btn btn-primary waves-light" type="submit" style="width: 100%;" mdbRippleRadius>Log In</button>
              </div>
            </div>
          </form>
          <!-- Login form -->
        </div>
    </div>
  </div>
</div>
